<!Doctype html>
<html lang="en">
<head>
    <title>KeShia Simmons and Kendrick Thomas Wedding</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>KeShia's and Kendrick's Wedding</h1>
        <div id="tabs-Home">
            <img src="~/wwwroot/images/kandktexas.jpg" />
            <!--<img src="images/DSC_0339.JPG" />
            <img src="images/DSC_0183.JPG" />
            <img src="images/DSC_0107.JPG" />-->
        </div>
</body>
</html>